<%# _movie.html.erb %>
<div id="<%= dom_id movie %>" class="movie">
  <dl> <%# Use a definition list for key-value pairs %>
    <dt>Title:</dt>
    <dd><%= movie.title %></dd>

    <dt>Rating:</dt>
    <dd><%= movie.rating %></dd>

    <dt>Description:</dt>
    <dd><%= movie.description %></dd>

    <dt>Release Date:</dt>
    <dd><%= movie.release_date.strftime("%m/%d/%Y") %></dd> <%# Format the date %>
  </dl>
</div>