<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<div id="movies">
  <table>
    <thead>
      <tr>
        <th><%= link_to "Title", movies_path(sort: "title", direction: params[:direction] == "asc" ? "desc" : "asc") %></th>
        <th><%= link_to "Rating", movies_path(sort: "rating", direction: params[:direction] == "asc" ? "desc" : "asc") %></th>
        <th><%= link_to "Release Date", movies_path(sort: "release_date", direction: params[:direction] == "asc" ? "desc" : "asc") %></th>
      </tr>
    </thead>
    <tbody>
        <% @movies.each do |movie| %>
        <tr>
          <td> <%= movie.title %> </td>
          <td> <%= movie.rating %> </td>
          <td> <%= movie.release_date %> </td>
        </tr>
        <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New movie", new_movie_path %>
